@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

:root {
  --primary-color: #0a3871;
  --secondary-color: #f3f5fc;
  --third-color: #495057;

  --primary-font: "Inter", sans-serif;
}

body {
  background-color: var(--secondary-color);
  font-family: var(--primary-font);
  margin: 0;
}
html,
body {
  height: 100%;
}

.nav {
  margin: 2% 0%;
}

.program {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2% 0% 0% 0%;
  flex-grow: 1;
  min-height: 80vh;
}

.program__page {
  height: auto;
  width: 100%;
  margin: 0% 8%;
  display: flex;
  flex-direction: column;
}

.program__textArea {
  background-color: transparent;
  height: 100%;
  width: 100%;
  color: var(--primary-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  overflow-x: hidden;
  resize: none;
  border: 0.2px solid rgba(0, 0, 139, 0.1);
  outline: none;
  border-radius: 5px;
  margin-bottom: 20px;
  padding-left: 2px;
  font-family: var(--primary-font);
  font-weight: 600;
}

.program__textArea::placeholder {
  color: var(--primary-color);
  font-size: 20px;
  height: auto;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  padding-left: 2px;
  font-family: var(--primary-font);
  font-weight: 600;
}

.program__p {
  margin-top: auto;
  font-size: 12px;
  color: var(--third-color);
  opacity: 0.8;
  display: flex;
  align-items: center;
  font-family: var(--primary-font);
}

.program__alert-icon {
  margin-right: 8px;
}

.program__buttons {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  padding: 1% 0;
}

.buttons__button1 {
  width: 100%;
  padding: 24px;
  border-radius: 24px;
  border: none;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-family: var(--primary-font);
  font-size: 16px;
  font-weight: 400;
}

.buttons__button2 {
  width: 100%;
  padding: 24px;
  border: 1px solid darkblue;
  background-color: var(--secondary-color);
  color: darkblue;
  border-radius: 24px;
  font-family: var(--primary-font);
  font-size: 16px;
  font-weight: 600;
}

.program__rec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 16px;
  width: 400px;
  height: auto;
  margin-right: 2%;
  padding: 1% 1%;
  position: relative;
}

.program__img {
  width: auto;
  height: 200px;
  padding-bottom: 5px;
}

.program__rec__h1,
.program__rec__p {
  align-items: center;
  text-align: center;
}

.program__rec__h1 {
  font-family: var(--primary-font);
  font-size: 24px;
  font-weight: 600;
}

.program__rec__p {
  font-family: var(--primary-font);
  text-align: center;
  color: var(--third-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.program__rec__pHidden {
  text-align: center;
  align-items: flex-start;
  margin-bottom: auto;
  order: -1;
  padding: 3%;
  color: var(--third-color);
  font-size: 24px;
  width: 100%;
  overflow-wrap: break-word;
  max-width: 100%; 
  box-sizing: border-box; 
}

.program__rec__btn {
  border: 1px solid var(--primary-color);
  bottom: 1px;
  padding: 20px;
  width: 100%;
  background-color: transparent;
  border-radius: 24px;
  color: var(--primary-color);
  margin-top: auto;
  font-family: var(--primary-font);
  font-size: 16px;
  font-weight: 600;
}

footer {
  margin-top: auto;
}

.end {
  margin-top: 2%;
  height: auto;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  padding: 1%;
  text-align: center;
  align-items: center;
  border-top: 1px solid var(--primary-color);
}

.end__text {
  font-size: 0.75rem;
  margin-bottom: 10px;
  margin-left: 5%;
}

.end__links {
  display: flex;
  margin-right: 5%;
  justify-content: center;
}

.end__links__link {
  margin-top: auto;
  font-size: 18px;
  color: var(--primary-color);
  opacity: 0.8;
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 5px;
  margin: 2%;
}

.error-message {
  color: red;
  padding: 2% 0%;
  text-align: center;
}

@media (max-width: 800px) {
  .program {
    flex-direction: column;
    align-items: center;
    margin: 5%;
  }

  .program__page {
    width: 100%;
    margin: 10% 0;
  }

  .program__rec {
    width: 100%;
    height: auto;
  }

  .program__img {
    display: none;
  }

  .program__rec__h1,
  .program__rec__p,
  .program__rec__h1,
  .program__rec__p {
    padding: 5%;
  }

  .end {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 5%;
  }
}
